.botonDesplegableTransacciones-neumorphism {
  color: white;
  background-color: var(--color-myYellow);

  border-radius: 1.1rem;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 300ms;
  box-shadow: -1px -1px 5px #e5a01d, 1px 1px 10px #efa61f;
}

.botonDesplegableTransacciones-neumorphism:hover {
  background-color: var(--color-myGreen);
  border-color: var(--color-myYellow);
}
