.botonAgregar-neumorphism {
  padding: 0.625rem 1.25rem;
  margin-left: 6.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  background-color: var(--color-myYellow);
  border-radius: 1.4rem;
  box-shadow: 29px 29px 58px #c78b1a, -29px -29px 58px #ffbb23;
  cursor: pointer;
  transition: all 300ms;
}
.botonAgregar-neumorphism:hover {
  background-color: var(--color-myGreen);
  border-color: var(--color-myGreen);
}
