/* Estilos base para todos los inputs */
.input-editraAgregarTrans {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
}

/* Estilos específicos para el select */
select.input-editraAgregarTrans {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

select.input-editraAgregarTrans:focus {
  border-color: var(--color-myYellow);
  box-shadow: 0 0 0 1px var(--color-myYellow);
  border-radius: 0.5rem;
}

/* Estilos para las opciones del select */
select.input-editraAgregarTrans option {
  background-color: var(--color-myGray) !important;
  color: white !important;
  padding: 8px;
  border: 1px solid var(--color-myYellow);
}

/* Forzar el color de fondo en todos los estados de las opciones */
select.input-editraAgregarTrans option:hover {
  background-color: var(--color-myGray) !important;
  border: 1px solid var(--color-myYellow);
}

/* Estilo específico para el dropdown */
select.input-editraAgregarTrans::-ms-expand {
  display: none;
}

select.input-editraAgregarTrans option {
  margin: 2px;
  border-radius: 4px;
  border: 1px solid var(--color-myYellow);
}

/* Estilos para el estado hover del contenedor */
.input-editraAgregarTrans:hover {
  border-color: transparent;
}

/* Estilos para el estado focus */
.input-editraAgregarTrans:focus {
  border-color: var(--color-myYellow);
  ring-color: var(--color-myYellow);
  outline: none;
  border-radius: 0.5rem;
}

/* Eliminar el color de fondo azul en Firefox */
select.input-editraAgregarTrans option:checked,
select.input-editraAgregarTrans option:hover {
  box-shadow: 0 0 10px 100px var(--color-myGray) inset !important;
}

/* Eliminar el color de fondo azul en Chrome */
select.input-editraAgregarTrans option:checked {
  background: linear-gradient(
    var(--color-myGray),
    var(--color-myGray)
  ) !important;
}
