@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import 'tailwindcss';

@theme {
  --color-myYellow: #eaa31e;
  --color-myGray: #444e50;
  --color-myGreen: #15464e;
  --color-myBeige: #ccc9bd;
}
:root {
  font-family: 'NexaBold';
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-myGreen);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
}
a:hover {
  color: var(--color-myYellow);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'NexaBold';
  src: url('../public/Fonts/Nexa\ Bold\ Font.otf');
}

@media (prefers-color-scheme: light) {
}
