@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import 'tailwindcss';

@theme {
  --color-myYellow: #eaa31e;
  --color-myGray: #444e50;
  --color-myGreen: #15464e;
  --color-myBeige: #ccc9bd;
}
:root {
  font-family: 'NexaBold';
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-myGreen);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
}
a:hover {
  color: var(--color-myYellow);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'NexaBold';
  src: url('../public/Fonts/Nexa\ Bold\ Font.otf');
}

@media (prefers-color-scheme: light) {
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fbbf24'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em;
}

select option {
  background-color: #2d3748;
  color: white;
  padding: 8px;
}

select option:hover {
  background-color: #4a5568;
}

/* Esto fuerza a que el dropdown aparezca debajo */
select:not([multiple]) {
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
